


@font-face {
    font-family: Inter;
    src: url(assets\fonts\static\Inter-Regular.ttf);
}
body {
    background-color: hsl(0, 0%, 8%);
    font-family: Inter;
    color: white;
    font-size: 14px;
}
#container {
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-self: center;
    align-items: center;
    background-color: hsl(0, 0%, 12%);
    margin-top: 1.5rem;
    margin-bottom: 10rem;
    padding: 3rem;
    border-radius: 1rem;
    
}
#container img {
    width: 100px;
    border-radius: 3rem;
    padding-bottom: 1rem;
}
h1 {
    margin: 0;
    font-family: Montserrat-Alt1;
}
h3 {
    color: hsl(75, 94%, 57%);
}
button {
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: hsl(0, 0%, 20%);
    color: white;
}
button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
    cursor: pointer;
}
p {
    justify-self: center;
}
p img {
    width: 300px;
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
